backups
crash-reports
downloads
journeymap/data/
journeymap/journeymap.log
local
localconfigs
logs
notes
resourcepacks
saves
schematics
shaderpacks
.curseclient
rhino.local.properties
servers.dat
servers.dat_old
usercache.json
usernamecache.json
options.txt
.DS_Store